In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [5]:
df=sns.load_dataset('diamonds')

In [7]:
df

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
39237   0.51  Very Good     I     SI1   62.5   58.0   1068  5.05  5.12  3.18
39238   0.51  Very Good     I     SI1   63.5   55.0   1068  5.07  5.11  3.23
39239   0.50  Very Good     F     SI2   61.4   61.0   1068  5.09  5.14  3.14
39240   0.50  Very Good     H     SI1   62.9   58.0   1068  5.01  5.04  3.16
39241   0.42      Ideal     H    VVS1   62.4   55.0   1068  4.79  4.00   NaN

[39242 rows x 10 columns]

In [9]:
df.sample()

       carat        cut color clarity  depth  table  price     x     y     z
38837   0.46  Very Good     G     VS1   62.8   57.0   1049  4.92  4.83  3.06

In [11]:
df['color'].isnull()

0        False
1        False
2        False
3        False
4        False
         ...
39237    False
39238    False
39239    False
39240    False
39241    False
Name: color, Length: 39242, dtype: bool

In [13]:
df['color'].isnull().sum()

0

In [23]:
df.isnull().sum()

carat      0
cut        0
color      0
clarity    0
depth      0
table      0
price      0
x          0
y          0
z          1
dtype: int64

In [25]:
df.isnull().sum()/6455

carat      0.000000
cut        0.000000
color      0.000000
clarity    0.000000
depth      0.000000
table      0.000000
price      0.000000
x          0.000000
y          0.000000
z          0.000155
dtype: float64

In [27]:
df.shape[0]

39242

In [29]:
(df.isnull().sum()/df.shape[0])*100

carat      0.000000
cut        0.000000
color      0.000000
clarity    0.000000
depth      0.000000
table      0.000000
price      0.000000
x          0.000000
y          0.000000
z          0.002548
dtype: float64

missing data handling
1)Imputation (fill in the blanks)
   1)stastical measures
   2)parameters
2)delete data
  rows
  columns

In [35]:
df

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
39237   0.51  Very Good     I     SI1   62.5   58.0   1068  5.05  5.12  3.18
39238   0.51  Very Good     I     SI1   63.5   55.0   1068  5.07  5.11  3.23
39239   0.50  Very Good     F     SI2   61.4   61.0   1068  5.09  5.14  3.14
39240   0.50  Very Good     H     SI1   62.9   58.0   1068  5.01  5.04  3.16
39241   0.42      Ideal     H    VVS1   62.4   55.0   1068  4.79  4.00   NaN

[39242 rows x 10 columns]

In [37]:
df.drop('x',axis=1)

       carat        cut color clarity  depth  table  price     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...
39237   0.51  Very Good     I     SI1   62.5   58.0   1068  5.12  3.18
39238   0.51  Very Good     I     SI1   63.5   55.0   1068  5.11  3.23
39239   0.50  Very Good     F     SI2   61.4   61.0   1068  5.14  3.14
39240   0.50  Very Good     H     SI1   62.9   58.0   1068  5.04  3.16
39241   0.42      Ideal     H    VVS1   62.4   55.0   1068  4.00   NaN

[39242 rows x 9 columns]

In [39]:
df

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
39237   0.51  Very Good     I     SI1   62.5   58.0   1068  5.05  5.12  3.18
39238   0.51  Very Good     I     SI1   63.5   55.0   1068  5.07  5.11  3.23
39239   0.50  Very Good     F     SI2   61.4   61.0   1068  5.09  5.14  3.14
39240   0.50  Very Good     H     SI1   62.9   58.0   1068  5.01  5.04  3.16
39241   0.42      Ideal     H    VVS1   62.4   55.0   1068  4.79  4.00   NaN

[39242 rows x 10 columns]

In [41]:
df.columns

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'price', 'x', 'y',
       'z'],
      dtype='object')

In [43]:
df.drop(['table','carat','y'],axis=1)

             cut color clarity  depth  price     x     z
0          Ideal     E     SI2   61.5    326  3.95  2.43
1        Premium     E     SI1   59.8    326  3.89  2.31
2           Good     E     VS1   56.9    327  4.05  2.31
3        Premium     I     VS2   62.4    334  4.20  2.63
4           Good     J     SI2   63.3    335  4.34  2.75
...          ...   ...     ...    ...    ...   ...   ...
39237  Very Good     I     SI1   62.5   1068  5.05  3.18
39238  Very Good     I     SI1   63.5   1068  5.07  3.23
39239  Very Good     F     SI2   61.4   1068  5.09  3.14
39240  Very Good     H     SI1   62.9   1068  5.01  3.16
39241      Ideal     H    VVS1   62.4   1068  4.79   NaN

[39242 rows x 7 columns]

In [54]:
df

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
39237   0.51  Very Good     I     SI1   62.5   58.0   1068  5.05  5.12  3.18
39238   0.51  Very Good     I     SI1   63.5   55.0   1068  5.07  5.11  3.23
39239   0.50  Very Good     F     SI2   61.4   61.0   1068  5.09  5.14  3.14
39240   0.50  Very Good     H     SI1   62.9   58.0   1068  5.01  5.04  3.16
39241   0.42      Ideal     H    VVS1   62.4   55.0   1068  4.79  4.00   NaN

[39242 rows x 10 columns]

In [58]:
df.reset_index(drop=True) #it is mandatory ro apply reset index after the rows from dataframe

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
39237   0.51  Very Good     I     SI1   62.5   58.0   1068  5.05  5.12  3.18
39238   0.51  Very Good     I     SI1   63.5   55.0   1068  5.07  5.11  3.23
39239   0.50  Very Good     F     SI2   61.4   61.0   1068  5.09  5.14  3.14
39240   0.50  Very Good     H     SI1   62.9   58.0   1068  5.01  5.04  3.16
39241   0.42      Ideal     H    VVS1   62.4   55.0   1068  4.79  4.00   NaN

[39242 rows x 10 columns]

In [62]:
df

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
39237   0.51  Very Good     I     SI1   62.5   58.0   1068  5.05  5.12  3.18
39238   0.51  Very Good     I     SI1   63.5   55.0   1068  5.07  5.11  3.23
39239   0.50  Very Good     F     SI2   61.4   61.0   1068  5.09  5.14  3.14
39240   0.50  Very Good     H     SI1   62.9   58.0   1068  5.01  5.04  3.16
39241   0.42      Ideal     H    VVS1   62.4   55.0   1068  4.79  4.00   NaN

[39242 rows x 10 columns]

In [64]:
df['color']=='F'

0        False
1        False
2        False
3        False
4        False
         ...
39237    False
39238    False
39239     True
39240    False
39241    False
Name: color, Length: 39242, dtype: bool

In [66]:
df[df['color']=='F']

       carat        cut color clarity  depth  table  price     x     y     z
12      0.22    Premium     F     SI1   60.4   61.0    342  3.88  3.84  2.33
29      0.23  Very Good     F     VS1   60.9   57.0    357  3.96  3.99  2.42
30      0.23  Very Good     F     VS1   60.0   57.0    402  4.00  4.03  2.41
31      0.23  Very Good     F     VS1   59.8   57.0    402  4.04  4.06  2.42
35      0.23       Good     F     VS1   58.2   59.0    402  4.06  4.08  2.37
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
39208   0.54      Ideal     F     SI2   61.8   56.0   1065  5.26  5.29  3.26
39216   0.43      Ideal     F     VS2   61.1   57.0   1066  4.88  4.91  2.99
39219   0.45       Good     F     VS2   56.8   62.0   1066  5.10  5.14  2.91
39236   0.33      Ideal     F    VVS2   62.4   56.0   1067  4.43  4.41  2.76
39239   0.50  Very Good     F     SI2   61.4   61.0   1068  5.09  5.14  3.14

[6697 rows x 10 columns]

In [74]:
df[df['price']>10]

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
39237   0.51  Very Good     I     SI1   62.5   58.0   1068  5.05  5.12  3.18
39238   0.51  Very Good     I     SI1   63.5   55.0   1068  5.07  5.11  3.23
39239   0.50  Very Good     F     SI2   61.4   61.0   1068  5.09  5.14  3.14
39240   0.50  Very Good     H     SI1   62.9   58.0   1068  5.01  5.04  3.16
39241   0.42      Ideal     H    VVS1   62.4   55.0   1068  4.79  4.00   NaN

[39242 rows x 10 columns]

In [76]:
price10=df[df['price']>10]
price10

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
39237   0.51  Very Good     I     SI1   62.5   58.0   1068  5.05  5.12  3.18
39238   0.51  Very Good     I     SI1   63.5   55.0   1068  5.07  5.11  3.23
39239   0.50  Very Good     F     SI2   61.4   61.0   1068  5.09  5.14  3.14
39240   0.50  Very Good     H     SI1   62.9   58.0   1068  5.01  5.04  3.16
39241   0.42      Ideal     H    VVS1   62.4   55.0   1068  4.79  4.00   NaN

[39242 rows x 10 columns]